{% extends "djangoface/layout.html" %} 

{% block body %}
    <div class="py-3">
        <h1 class="text-center">Face Database</h1>

        <div class="mx-3 text-center">
            <form method="GET" action="{% url 'faces' %}" class="d-flex mb-3">
                <input type="text" name="q" class="form-control me-2" placeholder="Search faces..." value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            <button type="button" id="upload-person-btn" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#new-face-modal">
                Upload New Person
            </button>          
        </div>

        <div class="mt-4 d-flex justify-content-center">
            <div class="d-flex justify-content-center flex-wrap w-100   ">
                {% for face in faces %}
                    <div class="card m-3">
                        <img src="{{ face.face.url }}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">{{ face.name }}</h5>
                            <a href="{% url 'delete_face' face.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="modal fade" id="new-face-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="label">Upload New Person:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'faces' %}" method="post" id="new-face-form">
                            {% csrf_token %}
                            <input type="text" class="form-control mb-2" name="name" placeholder="Name" />
                            <input class="form-control" type="file" name="image" id="new-face" />
                            <input type="submit" value="Upload" class="btn btn-primary mt-2 w-100" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
