{% extends "djangoface/layout.html" %} {% block body %}
<div class="container px-4 py-3">
    <h1 class="text-center">Upload Image</h1>

    <form method="post" id="image-form" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="formFile" class="form-label fw-bold">Select an image to identify faces from</label>
            <input class="form-control" type="file" name="image" id="image">
            <button class="btn btn-primary mt-2" id="identify-button" type="submit">
                Next <i class='fa-solid fa-arrow-right'></i>
            </button>
        </div>
    </form>

    <div id="image-container"></div>
</div>
{% endblock %}
